<p>* All fields are mandatory.</p>
<p-card [style]="{ overflow: 'hidden' }" class="text-gray">
    <ng-template #header>
        <div [style]="{ backgroundColor: '#FDE8E7' }" class="p-4 d-flex flex-row justify-content-between">
            <h5>
                Exhibitor 1
            </h5>
            <span>
                REMOVE
            </span>
        </div>
    </ng-template>
    <div class="mb-3">
        <label class="mb-1">Email Address</label>
        <input type="text" class="w-100" pInputText ngModel="value" />
    </div>
    <div class="mb-3">
        <label class="mb-1">Name on Badge</label>
        <input type="text" class="w-100" pInputText ngModel="value" />
    </div>
    <div class="mb-3">
        <label class="mb-1">Job Title</label>
        <input type="text" class="w-100" pInputText ngModel="value" />
    </div>
    <div class="mb-3">

        <label class="mb-1">Country</label>
        <p-select optionLabel="company" placeholder="Please Select" class="w-100 md:w-56" />
    </div>
    <div class="mb-3">
        <label class="mb-1">Company on Badge</label>
        <input type="text" class="w-100" pInputText ngModel="value" />
    </div>
</p-card>